<section #banner id="banner" class="banner" style="background:url(/assets/images/banner.jpg) no-repeat;">
  <div class="container">
  <div class="banner_inner">
    <div class="banner-td" data-aos="zoom-in" data-aos-duration="3000">
      <h1>Artificial Intelligence at human doorsteps</h1>
      <p>Aumnix is a cluster of deep tech products transforming human experiences and industry
        outcomes by building AI algorithms on video, voice, and sensor data, for edge devices by
        providing a decentralized AI-as-a-Service.
        </p>
      <button type="button" class="btn btn-get-started btn-outline-primary btn-effect outline">Get
        Started<span></span></button>
    </div>
    <div class=" banner-img">
      <img class="animate-elm coff" src="assets/images/Asset12.svg" alt="">
      <img class="animate-elm mar" src="assets/images/Asset11.svg" alt="">
      <img class="animate-elm pop" src="assets/images/Asset10.svg" alt="">
      <img class="animate-elm text" src="assets/images/Asset9.svg" alt="">
      <img class="animate-elm type" src="assets/images/Asset8.svg" alt="">
    </div>
  </div>
  </div>
 
 </section>
<section #whyAumnix id="why-aumnix" class="why-aumnix bg-effect" data-aos="fade-up" data-aos-duration="3000">
  <div class="container">
    <h2 class="section-title">What is AUMNIX?</h2>
    <p>AUMNIX enables organizations of all sizes to unlock the value hidden in their
      growing amount of data. Our end-to-end platform empowers any individual
      user or organization to leverage cutting-edge AI solutions to transform from
      any current state to the desired state.</p>
  </div>
</section>
<section #solutions id="solutions" class="solutions bg-effect-right">
  <div class="container">
    <h2 class="section-title">AUMNIX AI Solutions</h2>
    <p class="sub_title">Our platform covers diverse industry use cases and can be leveraged for a
      host of applications across different verticals</p>
    <div class="row">
      <div class="col-md-4" data-aos="fade-right" data-aos-duration="3000">
        <div class="box-inner">
          <img src="assets/images/data-engineering.png" alt="Data Engineering">
          <h3>Data Science</h3>
          <!-- <ul>
            <li>Data Analytics</li>
            <li>Data Warehousing Big</li>
            <li>Data Analytics</li>
          </ul> -->
        </div>
      </div>
      <div class="col-md-4" data-aos="fade-up" data-aos-duration="3000">
        <div class="box-inner">
          <img src="assets/images/ai-machine.png" alt="AI & Machine Learning">
          <h3>MLOps</h3>
          <!-- <ul>

            <li>Artificial Intelligence</li>
            <li>Natural Language</li>
            <li>Processing Vision Analytics</li>
          </ul> -->
        </div>
      </div>
      <div class="col-md-4" data-aos="fade-left" data-aos-duration="3000">
        <div class="box-inner">
          <img src="assets/images/automation.png" alt="Automation">
          <h3>AI-as-a-Service</h3>
          <!-- <ul>
            <li>AI Staff Augmentation</li>
            <li>AI Task Automation</li>
          </ul> -->
        </div>
      </div>
      <div class="col-md-4" data-aos="fade-right" data-aos-duration="3000">
        <div class="box-inner">
          <img src="assets/images/bi-implementation.png" alt="BI Implementation">
          <h3>SmartCity</h3>
          <!-- <ul>
            <li>Business Intelligence</li>
            <li>Power BI</li>
          </ul> -->
        </div>
      </div>
      <div class="col-md-4" data-aos="fade-up" data-aos-duration="3000" > 
        <div class="box-inner">
          <img src="assets/images/security.png" alt="Security">
          <h3>Telecommunication</h3>
          <!-- <ul>
            <li>Social Security</li>
            <li>System Security</li>
            <li>Log Analytics</li>
          </ul> -->
        </div>
      </div>
      <div class="col-md-4" data-aos="fade-left" data-aos-duration="3000">
        <div class="box-inner">
          <img src="assets/images/smart-city.png" alt="Smart City">
          <h3>Logistics</h3>
          <!-- <ul>
            <li>IoT GW</li>
          </ul> -->
        </div>
      </div>
      <div class="col-md-4" data-aos="fade-right" data-aos-duration="3000">
        <div class="box-inner">
          <img src="assets/images/consultancy.png" alt="Data Engineering">
          <h3>Healthcare</h3>
          <!-- <ul>
            <li>AI Team</li>
          </ul> -->
        </div>
      </div>
      <div class="col-md-4" data-aos="fade-right" data-aos-duration="3000">
        <div class="box-inner">
          <img src="assets/images/consultancy.png" alt="Data Engineering">
          <h3>Public Sector</h3>
          <!-- <ul>
            <li>AI Team</li>
          </ul> -->
        </div>
      </div>
      <div class="col-md-4" data-aos="fade-right" data-aos-duration="3000">
        <div class="box-inner">
          <img src="assets/images/consultancy.png" alt="Data Engineering">
          <h3>Manufacturing</h3>
          <!-- <ul>
            <li>AI Team</li>
          </ul> -->
        </div>
      </div>
      <div class="col-md-4" data-aos="fade-right" data-aos-duration="3000">
        <div class="box-inner">
          <img src="assets/images/consultancy.png" alt="Data Engineering">
          <h3>Agriculture</h3>
          <!-- <ul>
            <li>AI Team</li>
          </ul> -->
        </div>
      </div>
      
    </div>
  </div>
</section>
<section #ourProducts id="our-products" class="our-products">
  <div class="container">
    <h2 class="section-title">Our Products</h2>
    <div class="row-inner">
      <h3 class="row-title">Our platform covers diverse industry use cases and can be leveraged for a
        host of applications across different verticals.
        </h3>
      <div class="row">
        <div class="col-md-4" data-aos="fade-up" data-aos-duration="3000">
          <div class="pro-box">
            <div class="image-bg" style="background-image: url(/assets/images/pro-img-1.jpg);"></div>
            <h3>WhiteEye</h3>
            <div class="pro-bottom">
              <span>State-of-Art anomaly detector to secure system failure threat.
              </span>
              <button type="button" class="btn btn-getDemo btn-effect">Get Demo<span></span></button>
            </div>
          </div>
        </div>
        <div class="col-md-4" data-aos="fade-up" data-aos-duration="3000">
          <div class="pro-box">
            <div class="image-bg" style="background-image: url(/assets/images/pro-img-1.jpg);"></div>
            <h3>AEKA</h3>
            <div class="pro-bottom">
              <span>Role-based Conversational AI.
              </span>
              <button type="button" class="btn btn-getDemo btn-effect">Get Demo<span></span></button>
            </div>
          </div>
        </div>
        <div class="col-md-4" data-aos="fade-up" data-aos-duration="3000">
          <div class="pro-box">
            <div class="image-bg" style="background-image: url(/assets/images/pro-img-1.jpg);"></div>
            <h3>Drishti</h3>
            <div class="pro-bottom">
              <span>Digital Vision
              </span>
              <button type="button" class="btn btn-getDemo btn-effect">Get Demo<span></span></button>
            </div>
          </div>
        </div>
        <div class="col-md-4" data-aos="fade-up" data-aos-duration="3000">
          <div class="pro-box">
            <div class="image-bg" style="background-image: url(/assets/images/pro-img-1.jpg);"></div>
            <h3>aisGW</h3>
            <div class="pro-bottom">
              <span>Edge AI
              </span>
              <button type="button" class="btn btn-getDemo btn-effect">Get Demo<span></span></button>
            </div>
          </div>
        </div>
        <div class="col-md-4" data-aos="fade-up" data-aos-duration="3000">
          <div class="pro-box">
            <div class="image-bg" style="background-image: url(/assets/images/pro-img-1.jpg);"></div>
            <h3>AIS</h3>
            <div class="pro-bottom">
              <span>Cloud AI</span>
              <button type="button" class="btn btn-getDemo btn-effect">Get Demo<span></span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row-inner">
      <h3 class="row-title">AEKA</h3>
      <div class="row">
        <div class="col-md-4" data-aos="fade-up" data-aos-duration="3000">
          <div class="pro-box">
            <div class="image-bg" style="background-image: url(/assets/images/pro-img-1.jpg);"></div>
            <h3>Conversational AI</h3>
            <div class="pro-bottom">
              <span>Lorem Ipsum</span>
              <button type="button" class="btn btn-getDemo btn-effect">Get Demo<span></span></button>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="row-inner">
      <h3 class="row-title">WhiteEye</h3>
      <div class="row">
        <div class="col-md-4" data-aos="fade-up" data-aos-duration="3000">
          <div class="pro-box">
            <div class="image-bg" style="background-image: url(/assets/images/pro-img-1.jpg);"></div>
            <h3>Log Sensor</h3>
            <div class="pro-bottom">
              <span>Lorem Ipsum</span>
              <button type="button" class="btn btn-getDemo btn-effect">Get Demo<span></span></button>
            </div>
          </div>
        </div>
        <div class="col-md-4" data-aos="fade-up" data-aos-duration="3000">
          <div class="pro-box">
            <div class="image-bg" style="background-image: url(/assets/images/pro-img-1.jpg);"></div>
            <h3>Proactive Security</h3>
            <div class="pro-bottom">
              <span>Lorem Ipsum</span>
              <button type="button" class="btn btn-getDemo btn-effect">Get Demo<span></span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row-inner">
      <h3 class="row-title">ais Gatway</h3>
      <div class="row">
        <div class="col-md-4" data-aos="fade-up" data-aos-duration="3000">
          <div class="pro-box">
            <div class="image-bg" style="background-image: url(/assets/images/pro-img-1.jpg);"></div>
            <h3>IoT Gateway</h3>
            <div class="pro-bottom">
              <span>Lorem Ipsum</span>
              <button type="button" class="btn btn-getDemo btn-effect">Get Demo<span></span></button>
            </div>
          </div>
        </div>
        <div class="col-md-4" data-aos="fade-up" data-aos-duration="3000">
          <div class="pro-box">
            <div class="image-bg" style="background-image: url(/assets/images/pro-img-1.jpg);"></div>
            <h3>Proactive Security</h3>
            <div class="pro-bottom">
              <span>Lorem Ipsum</span>
              <button type="button" class="btn btn-getDemo btn-effect">Get Demo<span></span></button>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</section>
<!-- <section #aboutUs id="about-us" class="about-us bg-effect">
  <div class="container"  data-aos="fade-up" data-aos-duration="3000">
    <h2 class="section-title">About Us</h2>
    <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
  </div>
</section> -->
<section #contactUs id="contact-us" class="contact">
  <div class="container"  data-aos="fade-up" data-aos-duration="3000">
    <h2 class="section-title">Contact Us</h2>
    <form class="form" [formGroup]="phoneForm">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Full Name">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input class="form-control" type="text" placeholder="E-mail">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <div class="ngx-intl-tel-input">
              <ngx-intl-tel-input [cssClass]="'custom'" [preferredCountries]="preferredCountries"
                [enableAutoCountrySelect]="true" [enablePlaceholder]="true" [searchCountryFlag]="true"
                [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]" [selectFirstCountry]="false"
                [selectedCountryISO]="CountryISO.India" [maxLength]="15" [phoneValidation]="true"
                [separateDialCode]="separateDialCode" name="phone" formControlName="phone">
              </ngx-intl-tel-input>
            </div>
          </div>
        </div>
        <!-- <div class="col-md-6">
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Company Name">
          </div>
        </div> -->
        <div class="col-md-12">
          <div class="form-group">
            <textarea class="form-control" rows="5" placeholder="Message"></textarea>
          </div>
        </div>
      </div>
      <div class="form-button">
        <button type="button" class="btn btn-submit btn-effect">Submit <span></span></button>
      </div>
    </form>
  </div>
</section>
