.not-found-banner {
    
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}

.not-found-banner h1 {
    font-size: 100px !important;
    letter-spacing: 5px;
}

.not-found-banner p {
    font-size: 20px;
}

.not-found-banner .btn {
    margin-top: 25px;
}





@media (max-width: 1024px) {

.not-found-banner {
  padding: 0;
  min-height: 70vh;
}

}
